*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Header Styles**/
header{
    width: 100vw;
    height:10vh;
    padding:20px;
    background-color: #00060a;
    
}
.menu-nav a{
    text-decoration: none;
    color:aliceblue;
}
.bar-nav li{
    list-style-type: none;
    padding: 10px 6% ;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**Main basic styles**/
main{
    width: 100vw;
    height:85vh;
}
/**Footer styles**/
footer{
    height:5vh;
    width: 100vw;;
    background-color: #00060a;
}
.media-bar li{
    list-style-type: none;
    padding: 10px 2%;
}
.media-bar-styles a{
 color: aliceblue;
}
/**Login setion**/
.main-container{
    background-color:#5499C7  ;
    display: flex;   
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:50vw;
    height: 50%;
    
}
.login-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.login-form input,button{
    height: 40px;
    margin: 5px auto;
    border-radius: 2px;
    border: none;
}
.main-container h1{
    color:#dee3e3;
    padding: 0;
    margin: 0;
}
.main-container h2{
    color:#dee3e3;
    align-items: center;
}