body{ 
    max-width:100vw;
    max-height: 100vh;
    margin:0;
    padding: 0;
}
.main-container{
    background-color:#5499C7  ;
    display: flex;   
    flex-direction: column;
    text-align: center;
    width:50%;
    height: 50vh;
    margin: 15% auto;
    justify-content: center;
}
.login-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.login-form input,button{
    height: 40px;
    margin: 5px auto;
    border-radius: 2px;
    border: none;
}
.main-container h1{
    color:#dee3e3;
    padding: 0;
    margin: 0;
}
.main-container h2{
    color:#dee3e3;
}