*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Header Styles**/
header{
    width: 100vw;
    height:10vh;
    padding:20px;
    background-color: #00060a;
    
}
.menu-nav a{
    text-decoration: none;
    color:aliceblue;
}
.bar-nav li{
    list-style-type: none;
    padding: 10px 2% ;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**Main basic styles**/
main{
    width: 100vw;
    height:85vh;
}
/**Footer styles**/
footer{
    height:5vh;
    width: 100vw;;
    background-color: #00060a;
}
.media-bar li{
    list-style-type: none;
    padding: 10px 2%;
}
.media-bar-styles a{
 color: aliceblue;
}