<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/canchas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="../js/objetos.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="bar-nav">
                <li class="menu-nav">
                    <a  href="#logo">Home</a>
                    </li>
                <li class="menu-nav">
                    <a href="#about">About</a>
                </li>
                <li class="menu-nav">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="menu-nav">
                    <a href="#services">Services</a>
                </li>
                <li class="menu-nav">
                    <a href="#gallery">Gallery</a>
                </li>
                <li class="menu-nav">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Pagina Canchas</h1>
        <section class="section-canchas">
            <form action="../../controller/agregarCanchas.php">
                <h2>Agregar cancha: </h2>
                <div class="division-cancha">
                    <label for="">Cancha:</label>
                    <input type="text" name="agregarCancha" id="agregarCancha">
                </div>
                <div class="division-cancha">
                    <label for="Capacidad: ">Capacidad</label>
                    <input type="text">
                </div>
                <div>
                    <input class="button" type="submit" name="agregarC" value="Agregar">
                </div>
            </form>
        </section>
        <section class="section-canchas" class="modificar">
            <form action="">
                <h2>Consulta/Modifica cancha: </h2>
                <div class="division-cancha">
                    <label for="codCancha">Codigo de cancha</label>
                    <input type="text" name="codCancha" id="">
                </div>
                <div class="division-cancha">
                    <label for="modificarCancha">Cancha:</label>
                    <input type="text" name="modificarCancha" id="">
                </div>
                <div class="division-cancha">
                    <label for="capacidad">Capacidad: </label>
                    <input type="text" name="capacidadCancha" id="">
                </div>
                <div class="division-cancha">
                    <input class="button" type="submit" name="buscarC" value="Buscar">
                    <input class="button" type="submit" name="modificarC" value="Modificar">
                </div>
            </form>
        </section>
        <section class="section-canchas" class="eliminar">
            <form action="">
                <h2>Eliminar cancha: </h2>
                <div class="division-cancha">
                    <label for="codCancha1">Codigo de Cancha:</label>
                    <input type="text" name="codCancha1" id="">
                </div>
                <div class="division-cancha">
                    <label for="capacidad1">Capacidad: </label>
                    <input type="text" name="" id="">
                </div>
                <div class="division-cancha">
                    <input class="button" type="submit" name="eliminarC" value="Eliminar">
                </div>
            </form>
        </section>
    </main>
    <footer>
        <ul class="media-bar">
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-pinterest"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-tiktok"></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>