<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/general.css">
</head>
<body>
    <header>
        <nav>
            <ul class="bar-nav">
                <li class="menu-nav">
                    <a  href="#logo">Home</a>
                    </li>
                <li class="menu-nav">
                    <a href="#about">About</a>
                </li>
                <li class="menu-nav">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="menu-nav">
                    <a href="#services">Services</a>
                </li>
                <li class="menu-nav">
                    <a href="#gallery">Gallery</a>
                </li>
                <li class="menu-nav">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-container">
            <h1>FUTSAL Villavicencio</h1>
            <h2>Login</h2>
            <form action="../../controller/login.php" method="post" class="login-form">   
                <input type="email" name="username" placeholder="Usuario"id="">
                <input type="password" name="password" placeholder="Contraseña" id="">
                <input type="submit" id="btnlogin" >
                
            </form>
        </section>
    </main>
    <footer>
        <ul class="media-bar">
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-pinterest"></i></a>
            </li>
            <li class="media-bar-styles">
                <a><i class="fa-brands fa-tiktok"></i></a>
            </li>
        </ul>
    </footer>
</body>
</html>