<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/general.css">
</head>
<body style=background-color:purple>
    <main>
        <section class="main-container">
            <h1>FUTSAL Villavicencio</h1>
            <h2>Login</h2>
            <form action="../../controller/login.php" method="post" class="login-form">   
                <input type="email" name="username" placeholder="Usuario"id="">
                <input type="password" name="password" placeholder="Contraseña" id="">
                <input type="submit" id="btnlogin" >
                
            </form>
        </section>
    </main>

</body>
</html>