<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/canchas.css">
    <link rel="stylesheet" href="../css/general.css">
</head>
<body>
    <header>
        <nav>
            <ul class="bar-nav">
                <li class="menu-nav">
                    <a  href="#logo">Home</a>
                    </li>
                <li class="menu-nav">
                    <a href="#about">About</a>
                </li>
                <li class="menu-nav">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="menu-nav">
                    <a href="#services">Services</a>
                </li>
                <li class="menu-nav">
                    <a href="#gallery">Gallery</a>
                </li>
                <li class="menu-nav">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Ciudades</h1>
        <section class="section-canchas">
            <form action="../../controller/agregarCanchas.php">
                <h2>Agregar ciudad: </h2>
                <div class="division-cancha">
                    <label for="">Ciudad:</label>
                    <input type="text" name="agregarCancha" id="agregarCancha">
                <div>
                    <input class="button" type="submit" name="agregarC" value="Agregar">
                </div>
            </form>
        </section>
        <section class="section-canchas" class="modificar">
            <form action="">
                <h2>Consulta/Modifica ciudad: </h2>
                <div class="division-cancha">
                    <label for="codCancha">Codigo de ciudad</label>
                    <input type="text" name="codCancha" id="">
                </div>
                
                <div class="division-cancha">
                    <input class="button" type="submit" name="buscarC" value="Buscar">
                    <input class="button" type="submit" name="modificarC" value="Modificar">
                </div>
            </form>
        </section>
        <section class="section-canchas" class="eliminar">
            <form action="">
                <h2>Eliminar ciudad: </h2>
                <div class="division-cancha">
                    <label for="codCancha1">Codigo de Ciudad:</label>
                    <input type="text" name="codCancha1" id="">
                </div>
                <div class="division-cancha">
                    <label for="capacidad1">Ciudad: </label>
                    <input type="text" name="" id="">
                </div>
                <div class="division-cancha">
                    <input class="button" type="submit" name="eliminarC" value="Eliminar">
                </div>
            </form>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>